// card
$width-card: 200px;
$gap-h: 48px;
$gap-v: 46px;
$padding-h: 40px;
$padding-v: 50px;

// color
$secondary: #616070;
$gray-elements: #f3f3f3;
$nav-color: #060b35;
$nav-hover: #00acdc;
$white-color: #fff;
$text-hover: #34568b;

// screens
$mobile: 488px;
$tablet: 768px;
$desktop: 1024px;
