.catalog {
  display: grid;
  grid-template-columns: repeat(1, $width-card);
  justify-content: center;
  gap: $gap-v $gap-h;
  padding: $padding-v $padding-h;

  @media (min-width: $mobile) {
    grid-template-columns: repeat(2, $width-card);
  }

  @media (min-width: $tablet) {
    grid-template-columns: repeat(3, $width-card);
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, $width-card);
  }
}
