.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  margin-left: 50px;

  &__image {
    display: block;
  }
}

.nav {
  margin-right: 50px;

  &__list {
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 60px;

    font-size: 12px;
    line-height: 14px;
    color: $nav-color;
    text-decoration: none;
    text-transform: uppercase;

    transition: color 300ms ease;

    &:hover {
      color: $nav-hover;
    }

    &.is-active {
      color: $nav-hover;

      &::after {
        content: '';

        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 4px;
        border-radius: 8px;

        background-color: $nav-hover;
      }
    }
  }
}
